<div class=" container-fluid"
  style="background-image:url('assets/b3.jpg') ;background-size: cover;height: 560px;width: auto; margin-top: 90px;">
  <div class="row">
    <div class="col-lg-12" style="margin-left: 10%;margin-top: 4%;">
        <p style="color: white;font-size: 70px;font-family: sans-serif;margin-bottom: -30px;">Welcome,</p>
        <p style="color: white;font-size: 70px;font-family: sans-serif; margin-bottom: -30px;">To Car Washing</p>
        <p style="color: rgb(243, 13, 82);font-size: 70px;font-family: sans-serif; margin-bottom: -30px;">Center</p>
        <p><button class="btn danger5" style="margin-top: 30px;font-family: sans-serif;">FEEDBACK</button></p>
      </div>
  </div>
</div>




<div class="container">
<div class="card-deck">
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="assets/car-wash-icon.png"
      style="height: 30%;width: 40%;margin-left: 32%;margin-top: 30px" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Car Wash</h4>
      <p class="card-text" style="text-align: center;">Did you know that SDCC recycles its water and minimizes fresh
        water use?</p>
      <button class="button10" style="margin-left: 12%;margin-top: 23%;">Learn More
        <i class='fa fa-chevron-circle-right' style="font-size: 15px;"></i></button>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="assets/oil.png"
      style="height: 30%;width: 40%;margin-left: 33%;margin-top: 30px" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Oil Change & Smog Test</h4>
      <p class="card-text" style="text-align: center;">All it takes is 15 minutes for our 52 & Convoy and Del Mar
        Highlands locations to perform lube service.</p>
      <button class="button10" style="margin-left: 12%;margin-top: 13%;">Learn More
        <i class='fa fa-chevron-circle-right' style="font-size: 15px;"></i></button>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block d-md-none">
    <!-- wrap every 2 on sm-->
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="assets/shop.png"
      style="height: 30%;width: 40%;margin-left: 31%;margin-top: 30px" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Shop Detail</h4>
      <p class="card-text" style="text-align: center;">Our employees undergo the most extensive, stringent car detail
        training program in San Diego using the latest equipment and technology.</p>
      <button class="button10" style="margin-left: 12%;margin-bottom: 12%;">Learn More
        <i class='fa fa-chevron-circle-right' style="font-size: 15px;"></i></button>
    </div>
  </div>
  <div class="w-100 d-none d-md-block d-lg-none">
    <!-- wrap every 3 on md-->
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="assets/petrol.png"
      style="height: 30%;width: 40%;margin-left: 32%;margin-top: 30px" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Gas Stations & Convenience Stores</h4>
      <p class="card-text" style="text-align: center;">Each of our five locations features quality Chevron Gasoline
        and participates in the Vons Reward Points fuel discount program.</p>
      <button class="button10" style="margin-left: 12%;margin-bottom: 12%;">Learn More
        <i class='fa fa-chevron-circle-right' style="font-size: 15px;"></i></button>
    </div>
  </div>


</div>
</div>

<div class="row">
<div class="col-lg-4" style="margin-top: 20px;">

  <h6 style="color: red; font-family: 'Open Sans Condensed'; font-size: 15px;margin-left: 10%; "><b>INDIAN CAR
      CARE</b></h6>
  <h1 style="margin-left: 10%;">Welcome to</h1>
  <h1 style="margin-left: 10%;">Car Wash Center</h1>
  <p style="margin-left: 10%;">San Diego’s premier provider of Car Wash, Detail, Chevron Quality Gasoline, Convenience
    Stores, and Quick Lube Centers. Our two Smog Test locations have achieved “STAR CERTIFIED TEST ONLY” status.</p>
  <p style="margin-left: 10%;">As you browse our website, check out our five convenient locations, learn about our car
    wash and detail services, become an Unlimited Wash member, or access your Star Rewards account. You can print
    coupons to save on services or apply for employment.</p>
  <p style="margin-left: 10%;">San Diego Car Care is committed to the environment by minimizing the use of our most
    precious resource ……. WATER. </p>
  <p style="margin-left: 8%;"><button class="btn btn-link" style="color: black;"><b>Click here to learn
        more.</b></button></p>
  <p style="margin-left: 10%;font-style: italic;">Our goal is to deliver exceptional quality and the highest possible
    customer service to each and every client. </p>
</div>
<div class="col-lg-8">
  <img src="assets/carwash.jpg" alt="" style="height: 600px;width: 900px">
</div>
</div>


<div class="row" style="background-color: rgb(3, 131, 206);padding:7 4%; margin-top: 20px;">
    <div class="col-lg-3 " style="padding-left: 15px;padding-right: 15px;padding-bottom: 25px;">
      <h6 style="color: white; margin-top: 32px; margin-left: 32px;">POPULAR PRODUCTS</h6>
      <ul style="list-style-type: none;">
        <div class="container">
          <div id="project1">
            <a>
              <li style="color: white;font-size: 12px;margin-left: -15px;"><a>Net Banking</a></li>
              <li style="color: white;font-size: 12px;font-size: 12px;margin-left: -15px;"><a>Debit
                  Card</a></li>
              <li style="color: white;font-size: 12px;margin-left: -15px;"><a>Branch</a></li>
              <li style="color: white;font-size: 12px;margin-left: -15px;"><a>Credit Card</a></li>
              <li style="color: white;font-size: 12px;margin-left: -15px;"><a>Pass Book</a></li>
            </a>
          </div>
        </div>
  
      </ul>
    </div>
  
    <div class="col-lg-3" style="padding-left: 15px;padding-right: 15px;padding-bottom: 45px;">
      <h6 style="color: white; margin-top: 32px;margin-left: 32px;">ABOUT US</h6>
      <ul style="list-style-type: none;">
        <div class="container">
          <div id="project1"><a>
              <li class="b9" style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;">
                <a>About Us</a>
              </li>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>Contactless
                  Banking</a></li>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>Nutition</a>
              </li>
            </a>
          </div>
        </div>
  
      </ul>
    </div>
  
    <div class="col-lg-3" style="padding-left: 15px;padding-right: 15px;padding-bottom: 45px;">
      <h6 style="color: white; margin-top: 32px;margin-left: 32px;">OUR POLICIES</h6>
      <ul style="list-style-type: none;">
        <div class="container">
          <div id="project1"><a>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>Terms &
                  Conditions</a></li>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>FAQs & Help</a>
              </li>
            </a>
          </div>
        </div>
      </ul>
    </div>
  
    <div class="col-lg-3" style="padding-left: 15px;padding-right: 15px;padding-bottom: 45px;">
      <h6 style="color: white; margin-top: 32px;margin-left: 32px;">VISIT ICICI BANK</h6>
      <ul style="list-style-type: none;">
        <div class="container">
          <div id="project1"><a>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>Locate a
                  Nearest Branch</a></li>
              <li style="color: rgb(161, 161, 161);font-size: 12px;margin-left: -14px;"><a>Global Blog</a>
              </li>
            </a>
          </div>
        </div>
      </ul>
    </div>
  
  
  
    <div class="col-lg-6">
      <p style="color: white;margin-left:100px">Help us in serving you better &nbsp;&nbsp;&nbsp;<button type="button"
          class="btn btn-default badge rounded-pill bg-light"
          style="background-color: whitesmoke;font-size:15px;color: #242424;">Give Feedback</button>
      </p>
    </div>
  
    <div class="col-lg-6" style="color:white; text-align:center; padding-bottom: 60px;">
      Follow us
      <div class="col-lg-8" style="margin-top:20px;margin-left:98px;">
        <div class="container">
          <div id="project1">
        <ul>
          <a style="padding-right:30px;font-size:25px"><i class="fa fa-twitter"></i></a>
          <a style="padding-right:30px;font-size:25px"><i class="fa fa-facebook"></i></a>
          <a style="padding-right:30px;font-size:25px"><i class="fa fa-instagram"></i></a>
          <a style="padding-right:30px;font-size:25px"><i class="fa fa-youtube-play"></i></a>
          <a style="padding-right:30px;font-size:25px"><i class="fa fa-linkedin-square"></i></a>
        </ul>
      </div>
      </div>
      </div>
    </div>
    <div class="col-lg-12">
      <p style="font-size: 15px; text-align: center; font:sans-serif; color: rgb(255, 255, 255); padding:7 4%">
        Terms & Conditions | Do Not Call Registry | Disclaimer | Multilingual Disclaimer | Code of Commitment |
        Group Code of Business | Conduct and Ethics | Customer Service Policies | Use of Unparliamentary
        Language by Customers | Privacy | Fair Practice Code for Lenders<br>Copyright© 2022 . All rights
        Reserved.</p>
    </div>
  
  </div>